$color_main_blue: #0d80ec;
$color_hover_blue: #006cd8;
$color_focus_blue: #138cfe;
$color_active_blue: #1a5dda;
$color_light_blue: #f3f9ff;

$color_main_grey: #f5f6f8;
$color_disable_grey: #697077;
$color_unavailable_grey: #c6c6c6;

$color_main_white: #f5f5f5;
